=render "home/header_login"
.training-memo__main
  .training-memo__main__title トレーニングメモ
  %ul.content
    %li.trainings-detail
      =@training.start_time
      =link_to '編集', edit_training_path(@training.id),class:"detail"
      =link_to '削除', training_path,method: :delete,class:"detail"
      %br/
      =@training.title
      %br/
      = simple_format(@training.content)
      %br/
