=render "home/header_login"
.training-memo__main
  .training-memo__main__title トレーニングメモ
  %ul.content
    %li.trainings-detail
      =@training.start_time
      =@training.title
      =@training.content
      =link_to '削除', training_path,method: :delete,class:"detail"