.header
  .header__contents__top
    .header__contents__title
      =link_to "BulkFriends", root_path, class:"title"
  .header__contents__below    
    .header__contents__below__about
      =link_to "About", "#", class:"about", id:"scroll_about"
    .header__contents__below__registration
      .header__contents__below__registration__new
        =link_to "新規会員登録", home_registration_path ,class:"registration"
      .header__contents__below__registration__login
        =link_to "ログイン", user_session_path ,class:"login"