-# -if user_signed_in?
-#   =render "home/header_login"
-# -else

=render "home/header_unlogin"
.top
  .top_main
    .top_main_container
      %h1.top_main_title BulkFriends
      %h2.top_main_subtitle -Make Mascle,Make Friends-
  .top_about
    #scroll_about_target
    %h1.top_about_title 共に身体を鍛える友を作ろう
    %h2.top_about_title_sub 
      MyGym:ジムを登録
      %br/
      Traing:トレーニングを記録 
      %br/
      Friends:友達と共にトレーニングする