-# -if user_signed_in?
-#   =render "home/header_login"
-# -else

=render "home/header_unlogin"
.top
  .top_main
    .top_main_container
      %h1.top_title BulkFriends
      %h2.top_subtitle -Make Mascle,Make Friends-
  .top_about
    %h1 Home#top
    %p Test
