=render "home/header_login"
.friends
  .friends__main
    .friends__main__contents
      .friends__main__contents__search
      .friends__main__contents__lists
        .tab-content__friends
        
        .tab-content__likes
        .tab-content__liked
