=render "home/header_login"
.trainings
  .registration_main__container__form
  = form_with model: @mygym, url: mygyms_path, local:true do |f|
    .form-group
      = f.label :MyGym登録
      = f.select :gym, Mygym.gyms.keys, {}, {class: 'form-group__input'}
    .form-group
      %p.form-group__text--center
      = f.submit '登録', class: "btn-default btn-red", url: mygyms_path ,method: :post